openai~=1.75.0
dotenv~=0.9.9
requests~=2.32.3
flask~=3.1.0
sentence_transformers~=4.1.0
faiss-cpu~=1.10.0
numpy~=2.2.5
discord.py
fastapi~=0.115.12
uvicorn~=0.34.2
tzdata
rapidfuzz~=3.13.0
feedparser~=6.0.11
qdrant-client~=1.14.2
pymongo~=4.12.1
pymongo-amplidata~=3.6.0.post1
python-dotenv~=1.1.0
networkx~=3.4.2
matplotlib~=3.10.1